*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    height: 75vh;
    background-color: blanchedalmond;
}

#calculator-container {
    width: 400px;
    background-color:rgb(56, 50, 50);
    border-radius: 10px;
    padding: 25px;
}

#display-container{
    background-color: lightcyan;
    border-radius: 5px;
    text-align: right;
    padding:10px;
    margin-bottom: 10px;
}

button{
    padding:25px;
    font-size: 20px;
    border-radius: 5px;
    
}

.operand {
    background-color: orange;
    border: 2px solid orange;
}

#clear,
#delete,
#equals{
    background-color: darkgray;
    border: 2px solid darkgray;
}

#button-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}

.remove {
    grid-column: span 2;
}

.gridButton {
    flex-grow: 1;
}

#primary-display {
    text-align: right;
    min-height: 50px;
    font-size: 32px;
}
#secondary-display {
    text-align: right;
    min-height: 25px;
    font-size: 16px;
}